In [130]:
import pandas as pd

In [131]:
from datetime import datetime,timedelta

import requests

import zipfile

import pandas as pd

import os
import urllib.request
import urllib

In [132]:
N = 100 # data for number of days form today

url_part1 = "https://www.nseindia.com/content/historical/DERIVATIVES/"

datelist = pd.DataFrame(pd.date_range(datetime.today()-timedelta(days=N), periods=N-1).tolist())

datelist =datelist[0]

date_str=datelist.apply(lambda x:x.strftime("%d%b%Y").upper())

date_str1=pd.DataFrame(date_str.copy())

date_str1.loc[:,1] =(url_part1 + date_str1.loc[:,0].str[-4:] + "/" 

+ date_str1.loc[:,0].str[2:5]

+ "/fo" + date_str1.loc[:,0] + "bhav.csv.zip")

url = (url_part1 + date_str1.loc[:,0].str[-4:] + "/" + date_str1.loc[:,0].str[2:5] + "/fo" + date_str1.loc[:,0] + "bhav.csv.zip")

In [133]:
datetime.today()

datetime.datetime(2018, 4, 13, 14, 36, 7, 774296)

In [135]:
df = pd.DataFrame({'url':url.values})

In [136]:
df.url[1]

'https://www.nseindia.com/content/historical/DERIVATIVES/2018/JAN/fo04JAN2018bhav.csv.zip'

In [138]:
import requests, zipfile, io
def download_extract_zip(url):  
    r = requests.get(url)
    z = zipfile.ZipFile(io.BytesIO(r.content))
    z.extractall()

In [154]:
for i in range(N-2):
    try:
        download_extract_zip(df.url[i])
    except:
        print('No _Market')

No
No
No
No
No
No
No
No
No
No
No
No
No
No
No
No
No
No
No
No
No
No
No
No
No
No
No
No
No
No
No
No
No

In [164]:
df2 = pd.DataFrame()
for i in range(N-2):
#     download_extract_zip(df.url[i])
    csv = 'fo'+ date_str1.loc[i,0] + "bhav.csv"
    try:
        df1 = pd.read_csv(csv)
        df2 = df2.append(df1) 
    except:
        print("Marketclose" + '--' + csv )

Marketclosefo06JAN2018bhav.csv
Marketclosefo07JAN2018bhav.csv
Marketclosefo13JAN2018bhav.csv
Marketclosefo14JAN2018bhav.csv
Marketclosefo20JAN2018bhav.csv
Marketclosefo21JAN2018bhav.csv
Marketclosefo26JAN2018bhav.csv
Marketclosefo27JAN2018bhav.csv
Marketclosefo28JAN2018bhav.csv
Marketclosefo03FEB2018bhav.csv
Marketclosefo04FEB2018bhav.csv
Marketclosefo10FEB2018bhav.csv
Marketclosefo11FEB2018bhav.csv
Marketclosefo13FEB2018bhav.csv
Marketclosefo17FEB2018bhav.csv
Marketclosefo18FEB2018bhav.csv
Marketclosefo24FEB2018bhav.csv
Marketclosefo25FEB2018bhav.csv
Marketclosefo02MAR2018bhav.csv
Marketclosefo03MAR2018bhav.csv
Marketclosefo04MAR2018bhav.csv
Marketclosefo10MAR2018bhav.csv
Marketclosefo11MAR2018bhav.csv
Marketclosefo17MAR2018bhav.csv
Marketclosefo18MAR2018bhav.csv
Marketclosefo24MAR2018bhav.csv
Marketclosefo25MAR2018bhav.csv
Marketclosefo29MAR2018bhav.csv
Marketclosefo30MAR2018bhav.csv
Marketclosefo31MAR2018bhav.csv
Marketclosefo01APR2018bhav.csv
Marketclosefo07APR2018bhav.csv
Marketclosefo08APR2018bhav.csv

In [167]:
df2.head()

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
0,FUTIDX,BANKNIFTY,25-Jan-2018,0.0,XX,25440.0,25499.00,25370.0,25386.8,25386.8,53815,547579.56,1543200,193360,03-JAN-2018,NaN
1,FUTIDX,BANKNIFTY,22-Feb-2018,0.0,XX,25516.8,25550.00,25432.8,25447.0,25447.0,479,4885.92,52800,5720,03-JAN-2018,NaN
2,FUTIDX,BANKNIFTY,28-Mar-2018,0.0,XX,25550.0,25600.95,25487.9,25500.7,25500.7,33,337.30,2080,600,03-JAN-2018,NaN
3,FUTIDX,FTSE100,19-Jan-2018,0.0,XX,0.0,0.00,0.0,7652.0,7670.0,0,0.00,0,0,03-JAN-2018,NaN
4,FUTIDX,FTSE100,16-Feb-2018,0.0,XX,0.0,0.00,0.0,7503.0,7709.0,0,0.00,0,0,03-JAN-2018,NaN

In [169]:
df2.sample(10)

,INSTRUMENT,SYMBOL,EXPIRY_DT,STRIKE_PR,OPTION_TYP,OPEN,HIGH,LOW,CLOSE,SETTLE_PR,CONTRACTS,VAL_INLAKH,OPEN_INT,CHG_IN_OI,TIMESTAMP,Unnamed: 15
3455,OPTIDX,NIFTY,25-Jun-2020,9000.0,CE,0.00,0.00,0.00,2787.95,3484.65,0,0.00,2475,0,25-JAN-2018,NaN
18153,OPTSTK,GODREJIND,25-Jan-2018,560.0,CE,0.00,0.00,0.00,75.00,59.85,0,0.00,0,0,15-JAN-2018,NaN
4075,OPTIDX,NIFTY,30-Jun-2022,9700.0,CE,0.00,0.00,0.00,2549.10,3602.15,0,0.00,0,0,06-FEB-2018,NaN
8379,OPTSTK,BAJAJ-AUTO,26-Apr-2018,3200.0,CE,0.00,0.00,0.00,226.35,172.50,0,0.00,0,0,07-FEB-2018,NaN
26213,OPTSTK,LICHSGFIN,28-Mar-2018,740.0,CE,0.00,0.00,0.00,0.50,0.05,0,0.00,0,0,14-FEB-2018,NaN
26394,OPTSTK,LT,22-Feb-2018,1300.0,PE,2.35,8.65,1.75,6.15,6.15,557,5451.65,264750,-23250,16-FEB-2018,NaN
27819,OPTSTK,MFSL,25-Jan-2018,690.0,PE,0.00,0.00,0.00,108.50,103.55,0,0.00,0,0,03-JAN-2018,NaN
25318,OPTSTK,L&TFH,28-Mar-2018,170.0,CE,2.10,2.10,1.30,1.65,1.65,239,1844.95,1521000,18000,14-MAR-2018,NaN
26747,OPTSTK,LT,25-Jan-2018,1480.0,CE,0.80,0.80,0.10,0.20,0.20,27,299.77,24000,-9000,18-JAN-2018,NaN
40457,OPTSTK,VOLTAS,31-May-2018,800.0,PE,0.00,0.00,0.00,209.60,159.70,0,0.00,0,0,09-APR-2018,NaN

In [170]:
df2.shape

(5588762, 16)